/* CHAT COMMENTS */

.chat_content {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
}

.chat_content::after {
  content: "";
  clear: both;
  display: table;
}
.chat_content p{
	margin-top: 25px;
}

.chat_content img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

.chat_content img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-left {
  float: left;
  color: #999;
}

.time-right {
  float: right;
  color: #aaa;
}

.chat_chats input:nth-child(1){
	width: 95%;
	height: 40px;
	border-radius: 30px;
	text-indent: 10px;
	position: fixed;
	left: 2.5%;
	right: 2.5%;
	bottom: 80px;

}
.chat_chats input:nth-child(2){
	width: 30%;
	height: 60px;
	border-radius: 30px;
	bottom: 10px;
	position: fixed;
	left: 35%;
	right: 35%;
}
input:focus{
	outline:0px;
}

.text_chat{
	width: 100%;
  position: relative;
  background-color: #FFF;
  border: none;
  font-size: 28px;
  color: #000;
  padding: 20px;
  text-align: left;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.text_chat:focus{
  background-color: #ffe6b3;
}

.button {
  position: relative;
  background-color: #f8ab08;
  border: none;
  font-size: 100%;
  color: #000;
  padding: 10px 20px;
  width: 15%;
  left: 42.5%;
  right: 42.5%;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.button:hover{
  background-color:
}



/* ENVIAR MISSATGE */
.enviar_missatge{
	padding: 10px;
	border-radius: 30px;
	background: #f8ab08;
	transition: 0.3s;
}
.enviar_missatge:hover{
	background: #c68806;
}

@media (max-width: 991px) {
  .button{
    font-size: 80%;
  }
}
